# Ignore node_modules directory
node_modules/

# Ignore built files
/build/
/dist/

# Ignore environment variables file
.env

# Ignore IDE or editor files
.vscode/
.idea/

# Ignore system or hidden files
.DS_Store
Thumbs.db
