/* ------------ */
.animate-zoom {
    transition: transform 0.3s ease;
}


.animate-zoom {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.animate-right {
    position: relative;
    animation: animateright 0.4s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}

.animate-bottom {
    position: relative;
    animation: animatebottom 0.4s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.animate-top {
    position: relative;
    animation: animatetop 0.4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.typewriter {
    overflow: hidden;
    /* border-right: 2px solid rgb(0, 0, 0); */
    white-space: nowrap;
    margin: 0 auto;
    animation:
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}


/*  */

.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    /* Or any color you prefer */
    pointer-events: none;
    z-index: 9999;
}

.cursor_shadow {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
    z-index: 9998;
    animation: followCursor 0.25s ease-out forwards;
}

@keyframes followCursor {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}


/* ------------ */

/* Mediator.css */

.mediator-item {
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

}

.mediator-item:hover img {
    transform: scale(0.97);
    border: 2px solid rgb(225, 237, 227) !important;
}

.mediator-item p {
    color: rgb(255, 255, 255);
}

.mediator-item:hover p {
    color: rgba(255, 255, 255, 0.887);
}



/* ------------- */

.package-btn:hover,
.package-btn:focus {
    background: linear-gradient(to right, rgb(179 148 237),
            /* rgb(90 200 250), */
            rgb(244 82 240));
    /* Adjust hover/focus background color as needed */
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    animation: pulse 0.5s ease infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

/* ------------ */


/* Footer */

.change-word {
    padding: 11px 12px;
    color: white;
    border: 1px solid #e75bf0;
}


/* -- */

@-moz-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@-webkit-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

/* <canvas id="canvas"></canvas> */


.stack__card {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: 100vh; */
    position: sticky;
    top: 0;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1), 0 -1px 2px rgba(0, 0, 0, 0.25);
    /* font-size: 10rem; */
}

.stack__card:nth-child(1) {
    background-color: #e3342f;
}

.stack__card:nth-child(2) {
    background-color: #38c172;
}

.stack__card:nth-child(3) {
    background-color: #3490dc;
}

.stack__card:nth-child(4) {
    background-color: #f66d9b;
}

.stack__card:nth-child(5) {
    background-color: #f6993f;
}

/*  */

/* waves */
.ocean {
    height: 80px;
    /* change the height of the waves here */
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.wave {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
    position: absolute;
    width: 200%;
    height: 100%;
    animation: wave 40s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.09;
}

.wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 36s linear reverse infinite;
    opacity: 0.09;
}

.wave:nth-of-type(3) {
    bottom: 0;
    animation: wave 42s linear infinite;
    opacity: 0.09;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(-50%);
    }
}