button,
input[type="submit"],
input[type="button"] {

    height: 38px;
    padding: 0 30px;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 2px;
    margin-left: 2px;
    background: #055160;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: default;
    /* visibility: hidden; */
}