@import url('https://fonts.cdnfonts.com/css/tiro-bangla');

.font-bangla {
    font-family: 'Tiro Bangla', sans-serif;

}

.btn-new {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(211deg, #d62828 14%, #ff1660 100%);
    padding: 10px 26px;
    border: solid #85a3ff 2px;
    box-shadow: none;
    border-radius: 4px;
    transition: 1142ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.btn-new:hover {
    transition: 1142ms;
    padding: 10px 45px;
    transform: translateY(-0px);
    background: linear-gradient(211deg, #d62828 14%, #ff1660 100%);
    color: #f2f2f2;
    border: solid 2px #398bde;
}



.go2392553372 {
    justify-content: center;
    flex-wrap: wrap;
}

.regi-page {
    position: relative;
}

.regi-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('https://img.freepik.com/premium-photo/colorful-waves-geometric-shapes-background-pattern-wallpaper-with-colorful-color-gradient_737376-1846.jpg?w=826');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    z-index: -1;
}



.accordion-button {
    background-color: #055160;
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #055160c5;
    color: white;
}

.accordion-item:first-of-type .accordion-button,
.accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 0;
}

.accordion-button:not(.collapsed)::after {
    background-image: url('https://icon-library.com/images/white-arrow-icon-png/white-arrow-icon-png-26.jpg');
    transform: rotate(90deg);

}

.accordion-button::after {
    transform: rotate(0deg);

    background-image: url('https://icon-library.com/images/white-arrow-icon-png/white-arrow-icon-png-26.jpg');
}



.accordion-button:focus {
    box-shadow: 0 0 0 0.115rem rgb(255 255 255 / 20%);
}

.form-check-input {
    border-color: #055160;
}

.form-check-input:checked {
    background-color: #055160;
    border-color: #055160;
}

.form-check-input:focus {
    border-color: #012a32;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, .25);
}

.vl {
    border-left: 2px solid rgb(145, 145, 145);
    height: 80px;
}

.btn-icon {
    background-color: #055160;

}

.btn-icon:hover {
    background-color: #29484f !important;
}

.bg-black:hover {
    background-color: #055160ab !important;
}

.notifications-container {
    background-color: white;
    border-radius: 13px;
    padding: 30px;
    max-width: 731px;
}

.notifications-container .header .title {
    font-weight: 800;
    font-size: 19px;
}

.notifications-container .header .title .unread-notifications-number {
    color: white;
    background-color: #0a317b;
    padding: 2px 13px;
    border-radius: 5px;
    margin-left: 12px;
}

.notifications-container .header .mark-as-read .mark-as-read-button {
    color: #5e6778;
    text-decoration: none;
    -webkit-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
}

.notifications-container .notifications .single-notification-box {
    padding: 17px;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}

.notifications-container .notifications .single-notification-box .profile-picture {
    width: 45px;
    height: 45px;
    padding: 0;
}

.notifications-container .notifications .single-notification-box .notification-text {
    padding: 0 0 0 14px;
}

.notifications-container .notifications .single-notification-box .notification-text .name {
    color: #000000;
}

.notifications-container .notifications .single-notification-box .notification-text .description {
    color: #5e6778;
    margin-right: 5px;
}

.notifications-container .notifications .single-notification-box .notification-text .link {
    text-decoration: none;
    font-weight: 800;
    color: #5e6778;
    -webkit-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
    margin-right: 5px;
}