@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

@import url('https://fonts.maateen.me/bangla/font.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}

body {
  font-family: 'Maven Pro';
  /* max-width: 1300px; */
  margin: 0 auto;
}

/* 
.bg-grad {
  background: linear-gradient(to right, rgb(179 148 237), rgb(244 82 240));
} */
.bg-grad {
  background: linear-gradient(to right,
      rgb(179 148 237),
      rgb(90 200 250),
      rgb(244 82 240));

}



.sticky-image-container {
  position: sticky;
  top: calc(50% - 270px);


}

.sticky-image {
  width: 100%;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%)
}


.font-maven {
  font-family: 'Maven Pro';
}

.font-bn {
  font-family: 'Bangla', 'Maven Pro';

}



.ant-form-item-label {
  font-family: 'Maven Pro' !important;
}

a.nav-link.active {
  color: #dfd19b;
}

a {
  text-decoration: none;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 35px;
  line-height: 0;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-next:before,
.slick-prev:before {
  color: #bbffc7 !important;
}

.slick-prev,
.slick-next {
  width: -1;
}



.form-control,
.form-select {
  border: 1px solid #055160;
}

.form-control:focus,
.form-select:focus {
  color: rgb(0, 0, 0);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0rem rgb(55 4 255 / 38%);
}

.slick-next:before,
.slick-prev:before {
  color: #dfe0e3 !important;
}

.nav-link:hover {
  color: #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
}

.btn-default {
  height: 38px;
  padding: 0 30px;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 2px;
  margin-left: 2px;
  background: #055160;
}


.CardForUser .ant-card-body {
  padding: 0;
}

.activity-summary--list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 4px #8286912e;
}


.count-card--number {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2px;
  line-height: 25px;
  color: #51505d;
  font-size: 22px;
  font-weight: 700;
  gap: 5px;
}

.count-card--flag {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 9px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  background-color: #00bcd5;

}

.count-card--label {
  color: #51505d;
  font-size: 13px;
  line-height: 12px;
  font-weight: 300;
}

.count-card--text {
  font-style: italic;
  color: #72727d;
  font-size: 12px;
  line-height: 14px;
}

.delete-icon {
  position: absolute;
  left: 8px;
  top: 10px;
  opacity: 0.8;
}